
@model FirstCoreProject.Models.Cart

<h1>Product Details</h1>

<form method="post">

    <div class="row">

        <input type="hidden" asp-for="ProductId" />

        <div class="col-5">
           <img src="@Model.Product.ImageUrl" width="auto" height="300" />

        </div>

        <div class="col-7">

                <h1>
                    <label asp-for="@Model.Product.Name">@Model.Product.Name</label>

                </h1>
            <h3><label asp-for="@Model.Product.Price"><b>Price: </b><i class="fa-solid fa-indian-rupee-sign"></i>@Model.Product.Price</label></h3>
            <h4><label asp-for="@Model.Product.Description"><b>Description: </b>@Html.Raw(@Model.Product.Description)</label></h4>
            <h3><label asp-for="@Model.Product.Category.Id"><b>Category: </b>@Model.Product.Category.Name</label></h3>

           

            <label asp-for="Count">Qty</label>
            <input asp-for="Count" class="form-control"  />
            <span asp-validation-for="Count" class="text-danger"></span>
            <br />
            <button class="btn btn-success" asp-action="Index" asp-controller="Home">Back To List</button>
            <button class="btn btn-dark" type="submit">Add To Cart</button>

        </>

    </div>
    </div>

</form>